@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Admin Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <a asp-action="Restaurants"
           class="btn btn-primary w-100">
            Restaurants
        </a>
    </div>

    <div class="col-md-3">
        <a asp-action="Customers"
           class="btn btn-success w-100">
            Customers
        </a>
    </div>

    <div class="col-md-3">
        <a asp-action="Orders"
           class="btn btn-warning w-100">
            Orders
        </a>
    </div>

    <div class="col-md-3">
        <a asp-action="DeliveryMen"
           class="btn btn-info w-100">
            Delivery Men
        </a>
    </div>

</div>